﻿@model IEnumerable<PL.Models.Articles.ArticleSummaryViewModel>

@{
    ViewBag.Title = "Articles";
}

@foreach (var articleSummary in Model)
 {
     <div class="panel panel-info">
         <div class="panel-title">
             @articleSummary.Title
         </div>
         <div class="panel-body">
             @articleSummary.Text
             @articleSummary.TimeFromLastUpdate
             @Html.ActionLink("Read", "Read", new { @id = articleSummary.Id, @slug = articleSummary.Slug})
         </div>
     </div>
 }

